/* Contact Section: */

.contact_section{
    background-image: url('img/newgif.gif');
    background-position: center;
    background-size: 100%;
    scroll-behavior: smooth;
    height: 600px;
    padding:0;
    margin:0;
    
}

a{
    text-decoration: none;
    color: gold;
    font-size: large;
}

.contact_section h1 {
    margin-left: 50%;
    font-family: 'Permanent Marker', cursive;
}


.contact_section h2 {
    font-family: 'Ultra', serif;
    font-family: 'Permanent Marker', cursive;
}

.number {
    font-weight: bold;
    background-color: rgba(200, 0, 0, .6);
    margin-right: 1164px;
    color: #89cff0;
}


/*  cyan,
    black,
    #89cff0,
    #ACE1AF  */
